<h3 class="text-center">
  {{name}}
</h3>

<h4>Rounds</h4>
{{#if this.rounds}}
  <table class="table table-striped" id="rounds-table">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.rounds}}
        <tr>
          <td>
            {{name}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  No rounds added yet
{{/if}}
