<h3 class="text-center">{{name}}</h3>

<button type="button" class="btn btn-default edit-button" {{action "edit" this}}>Edit</button>
<button type="button" class="btn btn-danger delete-button" {{action "delete" this}}>Delete</button>
